.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding-left: 18%;
}

.example-full-width {
  width: 60%;
}

.button{
  color: var(--fourt-color);
}
.button2{
  color: var(--fourt-color);
  margin: auto;
margin-right: 50%;   
}
.page {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--first-color);
}

.content { 
  width: 100%;
  background:var(--first-color);
}

.footer{
  flex: none;
  width: 100%;
  margin: auto auto 0 auto;
  background:var(--second-color);
}

.header1{
 flex: none;
 width: 100%;
 margin-block-end: auto;
 background:var(--tree-color);
}


.title{
  color: var(--first-color);
}

.camera{
  border-style: solid;
  border-color: grey;
  width:200px; 
  height:200p;
}

.Bcamera{  
  margin-bottom: 10%;
  padding: 10px;
  display: inline;
  border-radius: 2px;
  font-family: "Arial";
  border: 0;
  margin: 0 10px;
  background: var(--second-color);
  font-size: 15px;
  line-height: 15px;
  color: white;
  width: auto;
  height: auto;
  box-sizing: content-box;
}

.list{
  font: 500 20px/32px Roboto, sans-serif;
  font-size:small;

 }