.example-form {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
   margin: auto;
   padding-left: 25%;
 }
 
 .example-full-width {
   width: 60%;
 }
 
 button{
   color: var(--fourt-color);
 }
 .page {
   margin: 0px;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background: var(--first-color);
 }
 
 .content { 
   width: 100%;
   background:var(--first-color);
 }
 
 .footer{
   flex: none;
   width: 100%;
   margin: auto auto 0 auto;
   background:var(--second-color);
 }
 
 .header{
  flex: none;
  width: 100%;
  
  background:var(--tree-color);
 }
 
 .title{
   color: var(--first-color);
 }

.conten-buttoon{
  margin-left: auto;
}

.button-1{
  margin-right: 5%;
}

.button-2{
  margin-right: 10%;
}