
<div  class="page">
   <mat-toolbar class="header">
      <span class="title">Dashboard Hubbec</span>
      
      <div class="conten-buttoon">
         <button mat-raised-button  routerLink="hobbie">Hobbie</button>
         <button mat-raised-button  routerLink="profile">Profile</button>
      </div>
      <button mat-raised-button  (click)="logout()">Logout</button>
   </mat-toolbar>
   <router-outlet class="content"></router-outlet>
   <mat-toolbar color="primary" class="footer">
   </mat-toolbar>
</div>