<div class="page">
  <mat-toolbar class="header">
     <span class="title">Hubbec login</span>
  </mat-toolbar>      
      <mat-card class="card">
        <mat-card-title style="text-align-last: center;">Login</mat-card-title>
      <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">  
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input matInput type="email" formControlName="user" placeholder="insert usuario">
          <mat-error *ngIf="form.controls['user'].hasError('required')">
            El campo es requerido 
           </mat-error>
           <mat-error *ngIf="form.controls['user'].hasError('email')">
             Por favor ingrese un email valido 
           </mat-error>
        </mat-form-field>
            <br/>  
            <br/> 
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="insert password">
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            El campo es requerido 
          </mat-error>
        </mat-form-field>      
        <div class="form-element">
          <button mat-raised-button  type="submit"  class="button"  [disabled]="!form.valid">iniciar sesión</button>    
      </div>
      </form> 
        <br/>  
      <div class="form-element">
        <button mat-raised-button  class="button" (click)="routRegister()">Register</button>
      </div>
      </mat-card-content>
      </mat-card>
      <mat-spinner *ngIf="spinner"></mat-spinner>
  <mat-toolbar class="footer">
  </mat-toolbar>
</div>      
